@{
    ViewBag.Title = "Build your own computer";
}

<div class="jumbotron">
    <h1>Most recent computer builds</h1>
    <ul>
        <li>First most recent</li>
        <li>Second most recent</li>
        <li>Third most recent</li>
        <li>Fourth most recent</li>
        <li>Fifth most recent</li>
    </ul>
    
</div>
